<form th:fragment="PostForm"
      th:object="${PostingForm}"
      th:action="${editable ? '/notice/save_edit' : '/notice/submit_notice'}" method="post">

    <input type="hidden" id="id" name="id" th:value="${posting.id}" />

    <label for="title">제목:</label>
    <input type="text" id="title" name="title" th:value="${posting.title}" required><br>

    <label for="author">글쓴이:</label>
    <input type="text" id="author" name="author" th:value="${posting.author}" required><br>

    <!-- 작성글 입력 칸 -->
    <label for="content">작성글:</label>
    <textarea id="content" name="content" rows="5" cols="40" required th:text="${posting.content}"></textarea><br>

    <!-- 사진 추가 버튼 -->
    <label for="image">사진 추가:</label>
    <input type="text" id="image" name="image" placeholder="이미지 경로 입력" th:value="${posting.image}"><br>

    <!-- 동영상 추가 버튼 -->
    <label for="video">동영상 추가:</label>
    <input type="text" id="video" name="video" placeholder="동영상 경로 입력" th:value="${posting.video}"><br>

    <!-- 파일 추가 버튼 -->
    <label for="file">파일 추가:</label>
    <input type="text" id="file" name="file" placeholder="파일 경로 입력" th:value="${posting.file}"><br>

    <!-- 링크 추가 입력란 -->
    <label for="link">링크 추가:</label>
    <input type="url" id="link" name="link" th:value="${posting.link}"><br>

    <input type="submit" class="write" value="등록">
</form>